.wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 32px 0 212px;
}

// HEADER

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
}

.header-logo {
    padding: 2px 48px;
    border-radius: 10px;
    background: var(--color-white);

    &::before {
        content: 'LOGO';
        font-size: 22px;
        line-height: 36px;
        font-weight: 900;
    }
}

.header-nav-button {
    padding: 10px 32px;
}

// BACKGROUND

.background {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    z-index: -1;
}

.background-image {
    width: 1440px;
    padding-bottom: 800px;
    opacity: 0.8;
}

.background-blur {
    width: 158px;
    height: 244px;
    position: absolute;
    top: 438.37px;
    left: 287px;
    rotate: -27.67deg;
    background: var(--color-gray-04);
    border-radius: 50%;
    filter: blur(100px);

}

// MAIN

.main {
    margin: 100px 0 180px;
    display: grid;
    gap: 180px;
}

// SCREEN ONE

.screen-one {
    padding: 0 30px;
}

.screen-one-text {
    margin-bottom: 80px;

    h1 {
        margin-bottom: 32px;
    }

    p {
        width: 626px;
        font-weight: var(--font-regular);
    }
}

// SCREEN DIV ONE

.screen-div-one {
    display: flex;
    gap: 140px;
    padding: 0 30px 24px;
}

.screen-div-one-header {
    width: 460px;
    flex-shrink: 0;
}

.screen-div-one-toggle-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4px;
    margin-bottom: 32px;

    button {
        padding: 10px 0;
    }
}

// SCREEN TWO

.screen-two {
    background: var(--color-gray-04);
    padding: 0 30px;
}

.screen-two-header {
    text-align: center;
    margin-bottom: 80px;
}

.screen-two-content {
    display: grid;
    grid-template-columns: 300px auto 300px;
}

.screen-two-content-card {
    display: grid;
    gap: 16px;
    padding: 32px;
    box-sizing: border-box;
}

.screen-two-content-visual {
    display: grid;
    grid-template-columns: 1fr 120px 1fr;
    align-items: center;
}

.screen-two-content-visual-line {
    height: 2.17px;
    background: var(--color-orange);
    position: relative;

    &::before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 12px;
        background: var(--color-orange);
        position: absolute;
        top: 50%;
        left: 0;
        translate: -6px -50%;
    }
}

.screen-two-content-visual-line.right {
    &::before {
        left: initial;
        right: 0;
        translate: 6px -50%;
    }
}

.screen-two-content-visual-center {
    width: 120px;
    height: 120px;
    background: var(--color-orange);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// SCREEN DIV TWO

.screen-div-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 30px;
}

.screen-div-two-partners {
    display: flex;
    align-items: flex-end;
    gap: 80px;
    padding-bottom: 13px;
}

// SCREEN THREE

.screen-three {
    display: flex;
    align-items: center;
    gap: 172px;
    background: var(--color-gray-04);
    padding: 0 0 0 30px;
}

.screen-three-text {
    .h2 {
        padding: 0 24px 32px 0;
    }
}

.screen-three-text-list {
    display: grid;
    gap: 20px;
    list-style: none;
    margin-bottom: 80px;

    li {
        display: flex;
        gap: 16px;
    }
}

.screen-three-image {
    width: 521px;
    padding: 19px 0 18px;
}

// FOOTER

.footer {
    padding: 0 30px 15px;
}

.footer-header {
    margin-bottom: 64px;
}

.footer-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.footer-textarea {
    textarea {
        width: 100%;
        height: 100%;
        font-family: inherit;
        color: inherit;
        border: 1px solid var(--color-gray-01);
        border-radius: 12px;
        padding: 14px 18px;
        resize: none;
        box-sizing: border-box;

        &::placeholder {
            color: inherit;
        }
    }
}

.footer-submit {
    input[type="email"] {
        width: 100%;
        height: 48px;
        color: inherit;
        border-bottom: 1px solid var(--color-gray-01);
        margin-bottom: 32px;

        &::placeholder {
            color: inherit;
        }
    }

    label {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 48px;
    }

    .button-black {
        width: 100%;
    }
}